<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>21_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{0,0},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{300,0},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{600,0},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{900,0},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{1200,0},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{0,457},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{300,457},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{600,457},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{900,457},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{1200,457},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>31_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{0,914},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>32_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{300,914},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{600,914},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>34_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{900,914},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>35_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{1200,914},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>36_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{0,1371},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>37_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{300,1371},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>38_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{600,1371},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>39_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{900,1371},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{1200,1371},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>card2_n.png</string>
            <key>size</key>
            <string>{1500,1828}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a3bec8fdf451e61bdba5d7b5bb2e45c:9fc6a2d951ef05a0e6e1e87aad41439d:a5b4e201ae62a74502cc5d0df693590d$</string>
            <key>textureFileName</key>
            <string>card2_n.png</string>
        </dict>
    </dict>
</plist>
