<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{1200,457},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{0,914},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{300,914},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{600,914},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{900,914},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{1200,914},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{0,1371},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{300,1371},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{600,1371},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{900,1371},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{0,0},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{1200,1371},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{300,0},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{600,0},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{900,0},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{1200,0},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{0,457},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{300,457},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{600,457},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{900,457},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>card1_n.png</string>
            <key>size</key>
            <string>{1500,1828}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:596924308b1e42e747cdfb97e0e91440:6a54130b29f19e546f675d003ae4a326:716988a87f3d0fffe9cbbe092adedec6$</string>
            <key>textureFileName</key>
            <string>card1_n.png</string>
        </dict>
    </dict>
</plist>
