<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{0,0},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{300,0},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{600,0},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{900,0},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{1200,0},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{0,457},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{300,457},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{600,457},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{900,457},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{1200,457},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{0,914},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{300,914},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{600,914},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{900,914},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{1200,914},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{0,1371},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{300,1371},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{600,1371},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{900,1371},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,457}</string>
                <key>spriteSourceSize</key>
                <string>{300,457}</string>
                <key>textureRect</key>
                <string>{{1200,1371},{300,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>card2.png</string>
            <key>size</key>
            <string>{1500,1828}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae92b020a8925f11222b0ffa9de3dc94:3d967af1c830c7fe22db7880d7e4c8ae:d79ca9df9136f2f064e77fc37431d479$</string>
            <key>textureFileName</key>
            <string>card2.png</string>
        </dict>
    </dict>
</plist>
