<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{322,172}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{671,317},{322,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{322,172}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{343,383},{322,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{322,172}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{1,405},{322,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{322,172}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{667,491},{322,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{322,172}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{325,557},{322,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{322,172}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{1,579},{322,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,20}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{671,203},{28,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,58}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{527,1083},{66,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,96}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{833,997},{102,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,132}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{699,997},{138,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,170}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{527,905},{176,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,200}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{325,905},{230,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,200}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{1,203},{340,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,200}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{350,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,200}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{353,1},{350,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_highlight1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{306,156}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{705,1},{306,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_highlight2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{306,156}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{705,159},{306,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_highlight3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{306,156}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{705,159},{306,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_highlight4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{306,156}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{1,927},{306,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ready.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{326,178}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{343,203},{326,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuang_hightlight0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{306,156}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{699,839},{306,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuang_hightlight1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{322,172}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{649,665},{322,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuang_hightlight2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{322,172}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{325,731},{322,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuang_hightlight3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{322,172}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{325,731},{322,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuang_hightlight4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{322,172}</string>
                <key>spriteSourceSize</key>
                <string>{350,200}</string>
                <key>textureRect</key>
                <string>{{1,753},{322,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect.png</string>
            <key>size</key>
            <string>{1012,1142}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de1cebfae6d3f8fe370186d9cd025c27:703fda6dde3337e737bf83d7b5733354:c45b8737b086317493c9da591d0055a8$</string>
            <key>textureFileName</key>
            <string>effect.png</string>
        </dict>
    </dict>
</plist>
